<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <% if (created) { %>
    <div>Note has been created!</div>
  <% } %>
  <h1><%= title %></h1>
  <form action="/" method="post">
    <input type="text" name="title" required>
    <button type="submit">Create</button>
  </form>
  <% if (notes.length) { %>
  <div>
    <ul>
      <% for (let i = notes.length - 1; i >= 0; i--) { %>
        <li>
          <span>
            <%= notes[i].title %>
          </span>
          <button data-type="edit" data-id="<%= notes[i].id %>">edit</button>
          <button data-type="remove" data-id="<%= notes[i].id %>">
          x
          </button>
        </li>
      <% } %>
    </ul>
  </div>
  <% } else { %>
    <p>No notes.</p>
  <% } %>

  <script src="/app.js"></script>
</body>
</html>